

body {
	font-family: 'Montserrat', sans-serif;
}

/*Styling Navbar*/
header {
	background: #BBBBBB;
	padding: 0.5rem 0;
}

.caixa {
	display: flex;
    justify-content: space-between;
    align-items: center;
	width: 95%;
    max-width: 1200px;
	margin: 0 auto;
    height: 100px;
}

.logo {
    height: 100px;
}

nav ul {
	display: flex;
    justify-content: space-evenly;
    margin-right: 1rem;
}

nav li {
	display: flex;
	margin: 0 0 0 35px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	scale: 1.1;
}

nav .current{
    font-weight: 900;
}

.banner {
	width:100%;
    margin-top: 0.5rem;
}

/*Styling página inicial - section  SOBRE*/
.titulo-principal {
	text-align: center;
	font-size: 2rem;
	margin: 0 0 1rem;
	clear: left;
}

.principal {
	padding-top: 2rem;
	background: #FEFEFE;
	width: 95%;
    max-width: 1200px;
	margin: 0 auto;
}

.principal p {
	margin: 0 0 1rem;
    line-height: 1.3rem;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic;
}

.utensilios {
	width: 120px;
	float: left;
	margin: 0 1rem 0 0;
}

/*Styling página inicial - section  MAP*/

.mapa {
	padding-top: 2rem;
	background: linear-gradient(#FEFEFE, #888888);
}

.mapa-conteudo {
	max-width: 1200px;
	margin: 0 auto;
}

.mapa p {
	margin: 0 0 2em;
	text-align: center;
}
